<%
    // convert path with slashes like "/bunch/of/folders"
    // to windows format if necessary ("\bunch\of\folders")
    function convertPath(str) {
        return isMac ? str : str.replace(/\//g, '\\');
    }

    function idSuffix() {
        return isMac ? "_mac" : "_windows"
    }

    function tabName() {
        return isMac ? "mac" : "windows"
    }

    let thisTabStepCountObj = {};
    let otherTabStepCountObj = {};

    let poolStepCount = 0;

    function macStep(id) {
        id = id || "default"
        if (isMac) {
            thisTabStepCountIncrement(id)
            return `<li>`;
        } else {
            otherTabStepCountIncrement(id)
            return '<!--';
        }
    }
    function endMacStep() {
        return isMac ? '</li>' : '-->';
    }

    function winStep(id) {
        id = id || "default"
        if (!isMac) {
            thisTabStepCountIncrement(id)
            return `<li>`;
        } else {
            otherTabStepCountIncrement(id)
            return '<!--';
        }
    }
    function endWinStep() {
        return !isMac ? '</li>' : '-->';
    }

    function step(id) {
        id = id || "default"

        thisTabStepCountIncrement(id)
        otherTabStepCountIncrement(id)
        return `<li>`;
    }
    function endStep() {
        return '</li>';
    }

    function thisTabStepCount(id) {
        id = id || "default"
        return thisTabStepCountObj[id] || 0
    }
    function thisTabStepCountIncrement(id) {
        id = id || "default"
        thisTabStepCountObj[id] = thisTabStepCountObj[id] || 0
        thisTabStepCountObj[id]++
    }
    function otherTabStepCount(id) {
        id = id || "default"
        return otherTabStepCountObj[id] || 0
    }
    function otherTabStepCountIncrement(id) {
        id = id || "default"
        otherTabStepCountObj[id] = otherTabStepCountObj[id] || 0
        otherTabStepCountObj[id]++
    }
%>
<ol class="no-ghosts-extra no-laps-extra extra-target fade show">
    <%- macStep() %>Download and install <a target="_blank" href="https://openmtp.ganeshrvel.com/">OpenMTP</a> <%- endMacStep() %>

    <%- macStep() %>Close Garmin Express completely (CMD-Q). Close the Garmin icon in the menu bar<%- endMacStep() %>
    <%- winStep() %>Close Garmin Express completely. Close the Garmin icon in the notification tray<%- endWinStep() %>

    <%- step() %>Connect your Garmin device to your computer with the USB charging cable<%- endStep() %>

    <%- step() %>Use <%= isMac ? 'OpenMTP' : 'File Explorer' %> to open the <b><%= convertPath('/Garmin/Sports') %></b> folder on your device<%- endStep() %>

    <%- step() %>Copy a broken activity profile to your computer (e.g. <b>RunningRun.fit</b> or <b>Golf.fit</b>)<%- endStep() %>

    <%- step() %>Select the file you copied below:<%- endStep() %>
</ol>
<ol class="metric-pool-extra extra-target fade hidden">
    <li><% poolStepCount++ %>Open <a href="https://connect.garmin.com">https://connect.garmin.com</a> and login</li>
    <li><% poolStepCount++ %>Navigate to the pool swim activity you want to change</li>
    <li><% poolStepCount++ %>Click the gear icon (upper-right) > Export File. (This will download your activity FIT file inside of a .ZIP)</li>
    <li><% poolStepCount++ %>
        Find the downloaded ZIP file on your computer and extract the FIT file.<br>
        <a href="https://support.microsoft.com/en-us/windows/zip-and-unzip-files-8d28fa72-f2f9-712f-67df-f80cf89fd4e5">
            Windows instructions
        </a>
        |
        <a href="https://support.apple.com/en-ca/guide/mac-help/mchlp2528/mac">
            Mac instructions
        </a>
    </li>
    <li><% poolStepCount++ %>Select the extracted FIT file below</li>
</ol>
<ol class="autolock-extra extra-target fade show">
    <%- macStep('autolock') %>Download and install <a target="_blank" href="https://openmtp.ganeshrvel.com/">OpenMTP</a> <%- endMacStep() %>

    <%- macStep('autolock') %>Close Garmin Express completely (CMD-Q). Close the Garmin icon in the menu bar<%- endMacStep() %>
    <%- winStep('autolock') %>Close Garmin Express completely. Close the Garmin icon in the notification tray<%- endWinStep() %>

    <%- step('autolock') %>Connect your Garmin device to your computer with the USB charging cable<%- endStep() %>

    <%- step('autolock') %>Use <%= isMac ? 'OpenMTP' : 'File Explorer' %> to open the <b><%= convertPath('/Garmin/Settings') %></b> folder on your device<%- endStep() %>

    <%- step('autolock') %>Copy Settings.fit to your computer<%- endStep() %>

    <%- step('autolock') %>Select the file you copied below:<%- endStep() %>
</ol>
<div class="no-ghosts-extra no-laps-extra extra-target metric-pool-extra fade show">
    <p>
        <div class="input-group upload-container">
            <button type="button" class="btn btn-primary uploadButton">Select FIT file to fix...</button>
            <span class="selectedFile form-control bg-light text-secondary"></span>
        </div>
    </p>
</div>
<div class="autolock-extra extra-target fade hidden">
    <p>
        <div class="input-group upload-container">
            <button type="button" class="btn btn-primary uploadButton">Select Settings.fit file...</button>
            <span class="selectedFile form-control bg-light text-secondary"></span>
        </div>
    </p>
</div>
<div class="results">
    <div class="fade result result-none">
        <div class="alert alert-success" role="alert">
            This profile doesn't have any enabled alerts
        </div>
    </div>
    <div class="fade result result-laps-none">
        <div class="alert alert-success" role="alert">
            This profile doesn't have auto laps
        </div>
    </div>
    <div class="fade result result-pool-none">
        <div class="alert alert-success" role="alert">
            This activity's pool length unit is already metric
        </div>
    </div>
    <div class="fade result result-success">
        <div class="alert alert-info" role="alert">
            <!-- need initial content in .count to prevent page from jumping [*]-->
            <p><span class="count">&nbsp;</span></p>
            <ol start="<%= thisTabStepCount()+1 %>" class="no-ghosts-extra no-laps-extra extra-target fade show">
            <%- step() %>Download updated profile: <a class="download">here</a> <%- endStep() %>

            <%- step() %>Copy the updated profile to the <b><%= convertPath('/Garmin/NewFiles') %></b> folder on your device<%- endStep() %>
            </ol>
            <ol start="<%= poolStepCount+1 %>" class="metric-pool-extra extra-target fade show">
                <li><% poolStepCount++ %>Download updated activity: <a class="download">here</a> </li>
                <li><% poolStepCount++ %>Go to connect.garmin.com</a> </li>
                <li><% poolStepCount++ %>Delete the original activity</a> </li>
                <li><% poolStepCount++ %>Import the updated activity</a> </li>
            </ol>
            <div class="autolock-extra extra-target fade hidden autolock-<%= tabName() %>">
                <ol start="<%= thisTabStepCount('autolock')+1 %>">
                    <li>
                        Select a new Auto-Lock setting:
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input autolockRadio autolockRadio0" type="radio" name="autolockRadio" value="0" data-tabname="<%= tabName() %>" data-apply="#autolockApply<%= idSuffix() %>">
                                Off
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input autolockRadio autolockRadio1" type="radio" name="autolockRadio" value="1" data-tabname="<%= tabName() %>" data-apply="#autolockApply<%= idSuffix() %>">
                                Always
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input autolockRadio autolockRadio2" type="radio" name="autolockRadio" value="2" data-tabname="<%= tabName() %>" data-apply="#autolockApply<%= idSuffix() %>">
                                During Activity
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input autolockRadio autolockRadio3" type="radio" name="autolockRadio" value="3" data-tabname="<%= tabName() %>" data-apply="#autolockApply<%= idSuffix() %>">
                                Not During Activity
                            </label>
                        </div>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary autolockApply disabled" data-tabname="<%= tabName() %>" id="autolockApply<%= idSuffix() %>">Apply Changes...</button>
                    </li>
                    <li class="autolock-finish fade hidden">Download updated settings file: <a class="autolock-download">here</a></li>
                    <li class="autolock-finish fade hidden">Copy the updated settings file to the <b><%= convertPath('/Garmin/NewFiles') %></b> folder on your device</li>
                </ol>

            </div>
        </div>
        <button type="button" class="btn btn-primary uploadButton no-ghosts-extra no-laps-extra metric-pool-extra extra-target fade show">Fix another profile...</button>
        <!-- <button type="button" class="btn btn-primary uploadButton autolock-extra extra-target fade hidden">Change another settings file...</button> -->
    </div>
    <div class="fade result result-error">
        <div class="alert alert-warning" role="alert"></div>
    </div>
    <div class="fade result result-error-not-profile">
        <div class="alert alert-warning" role="alert">
            This FIT file doesn't contain an alert message definition.
            <b>Is this an activity profile with alerts?</b>
            (Like <%= convertPath('/Garmin/Sports/RunningRun.fit') %>)
        </div>
    </div>
    <div class="fade result result-laps-error-not-profile">
        <div class="alert alert-warning" role="alert">
            This FIT file doesn't contain training settings.
            <b>Is this an activity profile?</b>
            (Like <%= convertPath('/Garmin/Sports/Golf.fit') %>)
        </div>
    </div>
    <div class="fade result result-error-not-profile-generic">
        <div class="alert alert-warning" role="alert">
            This FIT file is not an activity profile (which has a type of "sport").
            This file's type is "<span class="fit-type"></span>".<br>
            <b>Please select an activity profile.</b>
            (Like <%= convertPath('/Garmin/Sports/RunningRun.fit') %>)
        </div>
    </div>
    <div class="fade result result-laps-error-not-profile-generic">
        <div class="alert alert-warning" role="alert">
            This FIT file is not an activity profile (which has a type of "sport").
            This file's type is "<span class="fit-type"></span>".<br>
            <b>Please select an activity profile.</b>
            (Like <%= convertPath('/Garmin/Sports/Golf.fit') %>)
        </div>
    </div>
    <div class="fade result result-error-not-activity">
        <div class="alert alert-warning" role="alert">
            This is not an activity FIT file (which has a type of "activity").
            This file's type is "<span class="fit-type"></span>".<br>
            <b>Please select an activity FIT file.</b>
        </div>
    </div>
</div>
<!-- placeholder to keep the number of p elements the same between both tabs.
    this way the vertically centered main content stays the same height and doesn't
    jump around on tab switch [*]

    [*] these workarounds *might* break for super narrow displays
    like a phone, but this is a site aimed at computers anyway.

    would probably use a slightly different theme for narrow
    media.
-->
<% if (thisTabStepCount() < otherTabStepCount()) { %>
    <ol style="padding: 0; margin: 0;" class="invisible no-ghosts-extra no-laps-extra extra-target show">
    <% for (; thisTabStepCount() < otherTabStepCount(); thisTabStepCountIncrement()) { %>
        <li>----</li>
    <% } %>
    </ol>
<% } %>
<% if (thisTabStepCount('autolock') < otherTabStepCount('autolock')) { %>
    <ol style="padding: 0; margin: 0;" class="invisible autolock-extra extra-target hidden">
    <% for (; thisTabStepCount('autolock') < otherTabStepCount('autolock'); thisTabStepCountIncrement('autolock')) { %>
        <li>----</li>
    <% } %>
    </ol>
<% } %>
